@media screen and (min-width: 320px){
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

@media screen and (min-width: 768px){
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &,
    &__background {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__background {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
    }

    &__body {
      z-index: 15;
    }
  }
}