@import '../../../node_modules/bootstrap/scss/bootstrap';
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1024px;
}

.startbubble{
  border: 2px solid grey;
  border-radius: 10px;
  width: 200px;
}
